/* -- SCSS FILES---*/
@import url("https://fonts.googleapis.com/css?family=Lato:300i,300,400,700,900");
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 17px;
}

/*  HEADER: navigation and main section */
header {
  height: 100vh;
  background-image: url(../images/header_main/header_image.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 100px;
}

header nav .logo {
  font-size: 19px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.4px;
}

header nav .logo p {
  margin: 0;
}

header nav .logo p span {
  color: #ed135b;
}

header nav > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  list-style: none;
  margin-top: 14px;
}

header nav > ul > li {
  padding: 0 10px;
  padding-bottom: 0;
}

header nav > ul > li > a {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: #fff;
}

header nav > ul > li > a:hover, header nav > ul > li > a:focus {
  color: #ed135b;
  text-decoration: none;
  outline: none;
}

header main {
  max-width: 951px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15vh;
}

header main h1 {
  font-family: Lato, sans-serif;
  font-size: 46px;
  font-style: light;
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
}

header main h1 span {
  font-weight: bold;
}

header main p {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-style: light;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.55px;
  line-height: 38px;
}

header main button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
  background-color: #ed135b;
  color: #fff;
  margin-top: 40px;
}

header main button:hover {
  cursor: pointer;
}

header main button:focus, header main button:active {
  outline: none;
}

/* header finished */
/* about section*/
.about {
  background-color: #f3f3f3;
  padding-top: 120px;
}

.about .box-text h1 {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  font-style: italic;
  margin-bottom: 10px;
}

.about .box-text p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
}

.about .box-text button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
  background-color: #f3f3f3;
  color: #ed135b;
  text-align: left;
  padding-left: 0;
}

.about .box-text button:hover {
  cursor: pointer;
}

.about .box-text button:focus, .about .box-text button:active {
  outline: none;
}

.about .mcbook-pic {
  margin-right: -400px;
  margin-bottom: -90px;
}

/* About section finished */
/* services section */
.services {
  padding-top: 120px;
  text-align: center;
}

.services .services-text {
  max-width: 680px;
  margin: 0 auto;
}

.services .services-text h1 {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  font-style: italic;
  margin-bottom: 10px;
}

.services .services-text p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
}

.services .icons-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px 0;
}

.services .icons-box > [class*="icon-"] {
  text-align: center;
  transform: translateY(-80px);
  transition: .3s ease-out;
}

.services .icons-box > [class*="icon-"] button {
  width: 131px;
  height: 131px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.services .icons-box > [class*="icon-"] h2 {
  color: #ed135b;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services .icons-box > [class*="icon-"].fadeInUp {
  transform: translateY(0);
}

/* services section finished */
/* quote section */
.quotes .carousel {
  height: 501px;
}

.quotes .carousel .carousel-inner > .item > img {
  max-width: none;
}

.quotes .carousel .carousel-inner > .item .carousel-caption {
  bottom: 100px;
}

.quotes .carousel .carousel-inner > .item .carousel-caption p {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-style: light;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.55px;
  line-height: 38px;
}

.quotes .carousel .carousel-inner > .item .carousel-caption span {
  font-family: serif;
  font-size: 138px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ed145b;
}

.quotes .carousel .carousel-inner > .item .carousel-caption span:first-child {
  transform: rotateX(180deg);
  display: block;
  margin-bottom: -60px;
  margin-top: 20px;
}

/* quotes section finished*/
/* prizes section */
.prizes {
  padding-top: 120px;
  text-align: center;
  background-color: #f3f3f3;
}

.prizes .prizes-text {
  max-width: 680px;
  margin: 0 auto;
}

.prizes .prizes-text h1 {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  font-style: italic;
  margin-bottom: 10px;
}

.prizes .prizes-text p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
}

.prizes .prizes-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.prizes .prizes-box > [class*="box-"] {
  width: 262px;
  height: 466px;
  background-color: #fff;
}

.prizes .prizes-box > [class*="box-"] .single-prize {
  margin: 0;
  height: 150px;
  background-color: #595959;
}

.prizes .prizes-box > [class*="box-"] .single-prize h2 {
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 30px;
}

.prizes .prizes-box > [class*="box-"] .single-prize h2 span {
  font-size: 46px;
}

.prizes .prizes-box > [class*="box-"] .version {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
  background-color: #f3f3f3;
  color: #595959;
  margin-top: -25px;
}

.prizes .prizes-box > [class*="box-"] .version:hover {
  cursor: pointer;
}

.prizes .prizes-box > [class*="box-"] .version:focus, .prizes .prizes-box > [class*="box-"] .version:active {
  outline: none;
}

.prizes .prizes-box > [class*="box-"] > p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
  line-height: 0.8;
}

.prizes .prizes-box > [class*="box-"] .buy-now {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
  background-color: #ed135b;
  color: #fff;
  margin-top: 20px;
}

.prizes .prizes-box > [class*="box-"] .buy-now:hover {
  cursor: pointer;
}

.prizes .prizes-box > [class*="box-"] .buy-now:focus, .prizes .prizes-box > [class*="box-"] .buy-now:active {
  outline: none;
}

.prizes .prizes-box > [class*="box-"]:hover .single-prize {
  background-color: #ed135b;
}

/* prizes section finished */
/* Additional info section */
.additional-info .box-icons {
  margin-top: 80px;
}

.additional-info .box-icons .text > h2 {
  color: #ed135b;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 15px;
}

.additional-info .box-icons .text > p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
  padding-top: 0;
  padding-bottom: 80px;
}

/* additional info finished */
/* join-us section */
.join-us {
  background-color: #ed135b;
}

.join-us .slogan {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 200px;
}

.join-us .slogan h1 {
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-style: light;
  font-weight: 100;
  line-height: 52px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.join-us .slogan h1 span {
  font-weight: bold;
}

.join-us .slogan button {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
  background-color: #fff;
  color: #ed135b;
}

.join-us .slogan button:hover {
  cursor: pointer;
}

.join-us .slogan button:focus, .join-us .slogan button:active {
  outline: none;
}

/*join-us section finished */
/* news section */
.news {
  padding-top: 120px;
  text-align: center;
}

.news .news-text {
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.news .news-text h1 {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  font-style: italic;
  margin-bottom: 10px;
}

.news .news-text p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
}

.news .news-updates .box-update {
  background-color: #f3f3f3;
  width: 360px;
  margin-top: 15px;
  position: relative;
  text-align: center;
}

.news .news-updates .box-update .img-effect {
  width: 360px;
  height: 250px;
  z-index: 1;
  position: absolute;
  background-color: rgba(237, 19, 91, 0.7);
  transform: scale(0);
  transition-duration: 300ms;
  transform-origin: 50% 50%;
}

.news .news-updates .box-update .img-effect span {
  line-height: 250px;
  font-size: 30px;
  color: #fff;
}

.news .news-updates .box-update:hover .img-effect {
  transform: scaleY(1);
}

.news .news-updates .box-update h2 {
  color: #5a5a5a;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 20px;
  text-align: left;
}

.news .news-updates .box-update p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
  padding: 0 20px 20px 20px;
  margin-bottom: 0;
  text-align: left;
}

.news .more-updates {
  display: none;
}

.news button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
  background-color: #fff;
  color: #ed135b;
  margin: 50px 0;
}

.news button:hover {
  cursor: pointer;
}

.news button:focus, .news button:active {
  outline: none;
}

/* news section finished*/
/* additional-info-2 section */
.additional-info-2 {
  height: 650px;
  background-image: url(../images/header_main/header_image.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.additional-info-2 .box-text {
  max-width: 680px;
  text-align: center;
  margin: 0 auto;
}

.additional-info-2 .box-text h1 {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  font-style: italic;
  margin-bottom: 10px;
  color: #fff;
}

.additional-info-2 .box-text p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
  color: #fff;
}

.additional-info-2 .box-text button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
  background-color: #ed135b;
  color: #fff;
  margin-top: 40px;
}

.additional-info-2 .box-text button:hover {
  cursor: pointer;
}

.additional-info-2 .box-text button:focus, .additional-info-2 .box-text button:active {
  outline: none;
}

/* additional-info-2 section finished */
/* dawnload-now section */
.dawnload-now {
  background-color: #f3f3f3;
  padding-bottom: 80px;
}

.dawnload-now .print-screen {
  margin-left: -270px;
  margin-top: 80px;
}

.dawnload-now .text-box {
  padding-left: 20px;
}

.dawnload-now .text-box h1 {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 150px;
}

.dawnload-now .text-box p {
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.35px;
  padding-top: 20px;
}

.dawnload-now .text-box button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  border: none;
  background-color: #ed135b;
  color: #fff;
  margin-top: 40px;
}

.dawnload-now .text-box button:hover {
  cursor: pointer;
}

.dawnload-now .text-box button:focus, .dawnload-now .text-box button:active {
  outline: none;
}

/* dawnload-now section finished */
/* FOOTER */
footer {
  background-color: #2b2b2b;
}

footer .footer-text {
  height: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

footer .footer-text .copy-right {
  text-align: left;
}

footer .footer-text .copy-right span {
  text-transform: none;
}

footer .footer-text .design {
  text-align: right;
}

footer h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: Lato;
  color: #fff;
}

/* footer finisehd */
/* BackToTop button */
button.back-to-top {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 35px;
  width: 35px;
  border-radius: 17.5px;
  border: none;
  outline: none;
}

button.back-to-top a {
  text-decoration: none;
  color: #ed135b;
  font-size: 16px;
}

button.back-to-top a:hover {
  color: #ed135b;
}

/*  The end */
/*# sourceMappingURL=style.css.map */