@import url('https://fonts.googleapis.com/css?family=Lato:300i,300,400,700,900');


body {
	padding: 0;
	margin: 0 auto;
}

.container {
	max-width: 1142px;
	margin: 0 auto;
	
}

.main {
	height: 100vh;
	background-image: url(images/header_image.png);
	background-position: center;
	background-size: cover;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	font-family: Lato, sans-serif;
	font-size: 19px;
	color: white;
	font-weight: 900;
	margin-top: 20px;
	letter-spacing: 0.4px;	
}
 .logo span {
	 color: #ed145b;
 }

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: flex-end;
	margin-top: 40px;
	margin-bottom: 0;
}

nav>ul>li  {
	padding: 0 10px;
	padding-bottom: 0;
	
}

nav>ul>li>a {
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.4px;
	text-decoration: none;
	color: #fff;
}

nav>ul>li>a:hover {
	color: #ed145b;
}

/* --- jumbotron --- */
.jumbotron{
	max-width: 951px;
	text-align: center;		
	margin: 0 auto;
	margin-top: 15vh;
} 

.jumbotron h1 {
	font-family: Lato, sans-serif;
	font-size: 46px;
	font-style: light;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
}

.jumbotron h1 span {
	font-weight: bold;
}

.jumbotron p {
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-style: light;
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.55px;
	line-height: 38px;
}

.jumbotron button {
	width: 200px;
	height: 50px;
	border-radius: 25px;
	background-color: #ed145b;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	font-family: Lato, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.38px;
	border: none;
	margin-top: 40px;
}

.jumbotron button:hover {
	cursor: pointer;
}

/* ---header finish---- */

/*--- about section ---*/

.about {
	background-color: #f4f4f4;
	padding-top: 10vh;
}

.about .box1 {
	display: flex;
	position: relative;	
	padding-bottom: 200px;	
}

.about .box1 div {
	flex: 0.5;		
}


.about .box1 div h1 {
	color: #5a5a5a;
	font-family: "Lato", sans-serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 52px;
	font-style: italic;
	margin-bottom: 10px;	
}

.about .box1 div .text-about {
	width: 466px;
	height: 165px;
	color: #5a5a5a;
	font-family: Lato;
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
	overflow: hidden;
	letter-spacing: 0.35px;
}

.about .box1 .button-play {
	display: flex;
	flex-direction: row;	
	margin-top: 30px;
}

.about .box1 .button-play p {
	margin: 0;
	text-transform: uppercase;	
	color: #ed145b;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	margin-right: 10px;
}

.about .box1 .button-play button {
	width: 27px;
	height: 27px;
	border: 1px solid #ed145b;	
	border-radius: 50%;
	background: none;
}

.about .box1 .button-play button:hover {
	cursor: pointer;
}

.about .box1 .button-play button i {
	color: #ed145b;
	padding: 2px;
}


.about .mcbook-pic {
	position: absolute;
	z-index: 1;
	bottom: -90px;
	right: -300px;	
}

/* --- about section finished ---*/

/* --- services section---*/

.services {
	padding-top: 150px;

}
.services .services-text {
	text-align: center;
	width: 681px;
	margin: 0 auto;	
}

.services .services-text h1 {
	color: #5a5a5a;
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-size: 38px;
	font-weight: 400;
	line-height: 52px;
	margin-bottom: 25px;
}

.services .services-text p {
	color: #5a5a5a;
	font-family: Lato;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.services .icons-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 100px 0;
}

.services .icons-box > [class*="icon-"] {	
	text-align: center;
}

.services .icons-box > [class*="icon-"] button {
	width: 131px;
	height: 131px;
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}

.services .icons-box > [class*="icon-"] h2 {
	color: #ed145b;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}







