@import url('https://fonts.googleapis.com/css?family=Lato:300i,300,400,700,900');

/* fonts */
$main-font: Lato;

/* color variables */
$pink: #ed135b;
$font-gray: #5a5a5a;
$bg-light-gray: #f3f3f3;
$bg-dark-gray: #595959;
$bg-footer: #2b2b2b;