/* -- SCSS FILES---*/
@import 'global_variables';



body {
    margin: 0;
    padding: 0;
    font-family: $main-font, sans-serif;
    overflow-x:hidden;    
}

.container {
	max-width: 1142px;
    margin: 0 auto;   
    padding-left: 17px;
    padding-right: 17px;	    
}

/*  HEADER: navigation and main section */
header {
    height: 100vh;
    background-image: url(../images/header_main/header_image.png);
    background-attachment: fixed;
	background-position: center;
    background-size: cover;
    nav {
        @include flexbox(flex, row, space-between);
        align-items: center;
        height: 100px;       
        .logo {
            font-size: 19px;
	        color: $white;
	        font-weight: 900;	        
            letter-spacing: 0.4px;
            p {
                margin: 0;
                span {
                    color: $pink;
                }
            }
            	
        }
        >ul {
            @include flexbox(flex, row, flex-end);            
            list-style: none; 
            margin-top: 14px;    
            >li {
            	padding: 0 10px;
                padding-bottom: 0;
                >a {
                    font-size: 16px;
	                font-weight: bold;
	                letter-spacing: 0.4px;
	                text-decoration: none;
                    color: $white;
                    &:hover,                    
                    &:focus {
                        color: $pink;
                        text-decoration:none;
                        outline: none;
                    }
                }
            }
        }
    } 
    main {
        max-width: 951px;
        text-align: center;		
        margin: 0 auto;
        margin-top: 15vh;
        h1 {
            font-family: $main-font, sans-serif;
            font-size: 46px;
            font-style: light;
            font-weight: 100;
            color:$white;
            text-transform: uppercase;
            span {
                font-weight: bold;
            }
        }
        p {
            @include text-pharagraph-bigger;
        }
        button {
            @include btn($pink, $white);
            margin-top: 40px;
        }
    }    

} 
/* header finished */

/* about section*/
.about {
    background-color: $bg-light-gray;
    padding-top: 120px;
    .box-text {
        h1 {
            @include text-heading;
        }
        p {
            @include text-pharagraph;
        }
        button {
            @include btn($bg-light-gray, $pink);
            text-align: left;
            padding-left: 0;            
        }        
    }
    .mcbook-pic {
        margin-right: -400px;
        margin-bottom: -90px;
    }
}
/* About section finished */

/* services section */
.services {
    padding-top: 120px;
    text-align: center;        
    .services-text{
        max-width: 680px;
        margin: 0 auto;
        h1 {
            @include text-heading;        
        }
        p {
            @include text-pharagraph;
        }
    }
    .icons-box {
        @include flexbox(flex, row, space-around);
        margin: 100px 0;
        > [class*="icon-"] {
            text-align: center;
            transform: translateY(-80px);
            transition: .3s ease-out;           
            button {
                width: 131px;
                height: 131px;
                background: none;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 50%;
            }
            h2 {
                @include btn-text($pink);
            }            
        }
        > [class*="icon-"].fadeInUp {
            transform: translateY(0);
        }
    }

}
/* services section finished */

/* quote section */

.quotes {
    .carousel {        
        height: 501px; 
        .carousel-inner>.item {    
            >img{
                 max-width: none;         
            } 
            .carousel-caption {
                bottom: 100px;
                p {
                    @include text-pharagraph-bigger;
                }
                span {
                    font-family: serif;
                    font-size: 138px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: #ed145b;
                    &:first-child {
                        transform: rotateX(180deg);
                        display: block;
                        margin-bottom: -60px;
                        margin-top: 20px;
                    }
                }
            }
        }      
    }
}
/* quotes section finished*/

/* prizes section */

.prizes {
    padding-top: 120px;
    text-align: center;
    background-color: $bg-light-gray;
    .prizes-text {
        max-width: 680px;
        margin: 0 auto;
        h1 {
            @include text-heading;
        }
        p {
            @include text-pharagraph;
        }
    }
    .prizes-box {
        @include flexbox(flex, row, space-between);
        padding-top: 80px;
        padding-bottom: 80px;
        >[class*="box-"] {
            width: 262px;
            height: 466px;
            background-color: $white;
            .single-prize {
                margin: 0;
                height: 150px;
                background-color: $bg-dark-gray;
                h2 {
                    @include btn-text($white);
                    margin-top: 0;
                    padding-top: 30px;
                    span {
                        font-size: 46px;
                    }
                    
                }
            }
            .version {
                @include btn($bg-light-gray, $bg-dark-gray);
                margin-top: -25px;
            }
            >p {
                @include text-pharagraph;
                line-height: 0.8;               
            }
            .buy-now {
                @include btn($pink, $white);
                margin-top: 20px;
            }
            &:hover .single-prize {
                background-color: $pink;
            }
        }
    }
}
/* prizes section finished */

/* Additional info section */
.additional-info {
    .box-icons{
        margin-top: 80px;
        .text {
            >h2{
                @include btn-text($pink);
                margin-top: 0;
                line-height: 15px;
            }
            >p {
                @include text-pharagraph;
                padding-top: 0;
                padding-bottom: 80px;
                
            }
        }
    }

    
}
/* additional info finished */

/* join-us section */
.join-us {
    background-color: $pink;   
    .slogan {
        @include flexbox(flex, row, space-between);
        align-items: center;
        height: 200px;
        h1 {        
            font-family: $main-font, sans-serif;
            font-size: 38px;
            font-style: light;
            font-weight: 100;
            line-height: 52px;
            color: $white;
            text-transform: uppercase;
            margin: 0;
            span {
                font-weight: bold;
            }
        }
        button {
            display: block;
            @include btn($white, $pink);
        } 
    }
}
/*join-us section finished */

/* news section */
.news {
    padding-top: 120px;
    text-align: center;
    .news-text {
        max-width: 680px;
        margin: 0 auto;
        padding-bottom: 60px;
        h1 {
            @include text-heading;
        }
        p {
            @include text-pharagraph;
        }
    }
    .news-updates {        
        .box-update {
            background-color: $bg-light-gray;
            width: 360px;            
            margin-top: 15px;
            position: relative;
            text-align: center;
            .img-effect {
                width: 360px;
                height: 250px;
                z-index: 1;
                position: absolute;
                background-color: rgba($pink, 0.7);
                transform:scale(0);
                transition-duration: 300ms;
                transform-origin: 50% 50%;
                span {
                    line-height: 250px;
                    font-size: 30px;
                    color: $white;
                }
            }
            &:hover .img-effect {
                transform: scaleY(1);
            }            
            h2 {
                @include btn-text($font-gray);
                padding-left: 20px;
                text-align: left;
            }
            p {
                @include text-pharagraph;
                padding: 0 20px 20px 20px;
                margin-bottom: 0;
                text-align: left;
            }
        }            
    }
    .more-updates {
        display: none;
    }
    button {
        @include btn($white, $pink);
        margin: 50px 0;
    }
}
/* news section finished*/

/* additional-info-2 section */

.additional-info-2 {
    height: 650px;
    background-image: url(../images/header_main/header_image.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    .box-text {        
        max-width: 680px;
        text-align: center;
        margin: 0 auto;
        h1 {
            @include text-heading;
            color: $white;
        }
        p {
            @include text-pharagraph;
            color: $white;
        }
        button {
            @include btn($pink, $white);
            margin-top: 40px;
        }
    }
}
/* additional-info-2 section finished */

/* dawnload-now section */
.dawnload-now {
    background-color: $bg-light-gray;
    padding-bottom: 80px;
    .print-screen {
        margin-left: -270px;
        margin-top: 80px;
    }
    .text-box {
        padding-left:20px;    
        h1 {
            @include text-heading;
            margin-top: 150px;
        }
        p {
            @include text-pharagraph;
        }
        button {
            @include btn($pink, $white);
            margin-top: 40px;
        }
    }        
}
/* dawnload-now section finished */

/* FOOTER */
footer {      
    background-color: $bg-footer;
    .footer-text {
        height: 150px;
        @include flexbox(flex, row, space-between); 
        align-items: center;
        .copy-right {
            text-align: left;
            span {
                text-transform: none;
            }
        }
        .design {
            text-align: right;
        }
    }
    h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-family: $main-font;
        color: $white;
    }
}
/* footer finisehd */

/* BackToTop button */
button.back-to-top {
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    background: $white;
    height:35px;
    width: 35px;
    border-radius: 17.5px;
    border: none;
    outline: none;    
    a {
        text-decoration: none;
        color: $pink;
        font-size: 16px;
        &:hover { 
            color: $pink;
        }
    }
}

/* === RWD === */

@media (max-width: 1199px) {

}

@media (max-width: 767px) {
    header {
        height: 750px;
        nav {
            flex-direction: column;
            height: auto;
            text-align: center;;
            ul {
                padding-left: 0;
                flex-direction: column;

            }
        }
        main {
            margin-top: 0; 
        }        
    }
    .about {
        padding-top: 20px;   
        .mcbook-pic {
            width: 90vw;
            height: auto;
            margin: 0 auto;
        }    
    }
    .services {
        padding-top: 20px;
        .icons-box {
            flex-direction: column;
        }
    }
    .quotes {
        .carousel {      
            .carousel-inner>.item {
                .carousel-caption {                
                    p {
                       font-size: 16px;
                       letter-spacing: normal;
                       
                    }
                    span {               
                        font-size: 100px;
                    }
                }
            }      
        }
    }    
    .prizes {
        padding-top: 20px; 
        .prizes-box {
            flex-direction: column;        
            padding-top: 10px;
            padding-bottom: 10px;
            >[class*="box-"] {
                margin: 10px auto;          
            }
        }
    } 
    .additional-info {
        .box-icons {
            div.icon {
                >img {
                    float: right;
                }
            }
            .text {
                padding-right: 10vw;
            }
        }
    }
    .join-us {
        .slogan {
            flex-direction: column;
            text-align: center;
            h1{
                font-size: 25px;
                line-height: 30px;
            }
        }
    } 
    .news {
        padding-top: 20px;
        .news-updates{
            .box-update {
                margin: 15px auto;
            }
        }
    }
    .additional-info-2 {
        padding: 0 15px;
    }
    .dawnload-now {
        .print-screen {
            display: none;
        }
        .text-box {
            h1 {
                margin-top: 20px;
            }
        }
    }
    footer {
        .footer-text {            
            flex-direction: column;
            height: auto;
            .copy-right {
                text-align: center;
                font-size: small;
            }

        }
    }

}



/*  The end */