/* -- SCSS FILES---*/
@import 'global_variables';



body {
    margin: 0;
    padding: 0;
    font-family: $main-font, sans-serif;  

}

.container {
	max-width: 1142px;
    margin: 0 auto;   
    padding-left: 17px;
    padding-right: 17px;	    
}

/* navigation */
.main {
    height: 100vh;
	background-image: url(../images/header_main/header_image.png);
	background-position: center;
    background-size: cover;
    nav {
        @include flexbox(flex, row, space-between);       
        .logo {
            font-size: 19px;
	        color: $white;
	        font-weight: 900;
	        margin-top: 20px;
            letter-spacing: 0.4px;
            span {
                color: $pink;
            }	
        }
        >ul {
            @include flexbox(flex, row, flex-end);            
	        list-style: none;	       
	        margin-top: 40px;
            margin-bottom: 0;
            >li {
            	padding: 0 10px;
                padding-bottom: 0;
                >a {
                    font-size: 16px;
	                font-weight: bold;
	                letter-spacing: 0.4px;
	                text-decoration: none;
                    color: $white;
                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
    }

}

/* nav finished */

/* jumbotron */
.jumbotron {
    max-width: 951px;
	text-align: center;		
	margin: 0 auto;
    margin-top: 15vh;
    h1 {
        font-family: $main-font, sans-serif;
        font-size: 46px;
        font-style: light;
        font-weight: 100;
        color:$white;
        text-transform: uppercase;
        span {
            font-weight: bold;
        }
    }
    p {
        font-family: $main-font, sans-serif;
        font-size: 18px;
        font-style: light;
        font-weight: 300;
        color: $white;
        letter-spacing: 0.55px;
        line-height: 38px;
    }
    button {
        @include btn($pink, $white);
    }
}

/* jumbotron finished */

/* about section*/
.about {
    background-color: $bg-light-gray;
    padding-top: 10vh;
    .box1 {
        @include flexbox(flex, row, flex-start);
        position: relative;	
        padding-bottom: 200px;
        .box-text {
            flex: 0.5;
            h1 {
                @include text-heading;                
            }
            p {
                @include text-pharagraph;
            }
            .button-play{
                @include flexbox(flex, row, flex-start);
                margin-top: 30px;         
                p {               
                    @include btn-text($pink);
                }
                button {
                    width: 27px;
                    height: 27px;
                    border: 1px solid $pink;	
                    border-radius: 50%;
                    background: none;
                    margin:15px 10px;
                    color: $pink;
                    &:hover {
                        cursor: pointer;
                    }
                }
            } 
        }

    }
    .mcbook-pic {
        position: absolute;       
        bottom: -90px;
        right: -500px;	
        overflow-x: hidden;
    }
}

/* About section finished */

/* Our services section */

.services {
    padding-top: 150px;
    .services-text h1 {
        @include text-heading;        
    }
}
