/* -- SCSS FILES---*/
@import 'global_variables';



body {
    margin: 0;
    padding: 0;
    font-family: $main-font, sans-serif;  

}

.container {
	max-width: 1142px;
    margin: 0 auto;   
    padding-left: 17px;
    padding-right: 17px;	    
}

/*  HEADER: navigation and main section */
header {
    height: 100vh;
	background-image: url(../images/header_main/header_image.png);
	background-position: center;
    background-size: cover;
    nav {
        @include flexbox(flex, row, space-between);       
        .logo {
            font-size: 19px;
	        color: $white;
	        font-weight: 900;
	        margin-top: 20px;
            letter-spacing: 0.4px;
            span {
                color: $pink;
            }	
        }
        >ul {
            @include flexbox(flex, row, flex-end);            
	        list-style: none;	       
	        margin-top: 40px;
            margin-bottom: 0;
            >li {
            	padding: 0 10px;
                padding-bottom: 0;
                >a {
                    font-size: 16px;
	                font-weight: bold;
	                letter-spacing: 0.4px;
	                text-decoration: none;
                    color: $white;
                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
    } 
    main {
        max-width: 951px;
        text-align: center;		
        margin: 0 auto;
        margin-top: 15vh;
        h1 {
            font-family: $main-font, sans-serif;
            font-size: 46px;
            font-style: light;
            font-weight: 100;
            color:$white;
            text-transform: uppercase;
            span {
                font-weight: bold;
            }
        }
        p {
            @include text-pharagraph-bigger;
        }
        button {
            @include btn($pink, $white);
            margin-top: 40px;
        }
    }    

} 
/* header finished */

/* about section*/
.about {
    background-color: $bg-light-gray;
    padding-top: 10vh;
    .box1 {
        @include flexbox(flex, row, flex-start);
        position: relative;	
        padding-bottom: 200px;
        .box-text {
            flex: 0.5;
            h1 {
                @include text-heading;                
            }
            p {
                @include text-pharagraph;
            }
            .button-play{
                @include flexbox(flex, row, flex-start);
                margin-top: 30px;         
                p {               
                    @include btn-text($pink);
                }
                button {
                    width: 27px;
                    height: 27px;
                    border: 1px solid $pink;	
                    border-radius: 50%;
                    background: none;
                    margin:15px 10px;
                    color: $pink;
                    &:hover {
                        cursor: pointer;
                    }
                }
            } 
        }

    }
    .mcbook-pic {
        position: absolute;       
        bottom: -90px;
        right: -500px;	
        overflow-x: hidden;
    }
}

/* About section finished */

/* services section */
.services {
    padding-top: 120px;
    text-align: center;        
    .services-text{
        max-width: 680px;
        margin: 0 auto;
        h1 {
            @include text-heading;        
        }
        p {
            @include text-pharagraph;
        }
    }
    .icons-box {
        @include flexbox(flex, row, space-around);
        margin: 100px 0;
        > [class*="icon-"] {
            text-align: center;
            button {
                width: 131px;
                height: 131px;
                background: none;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 50%;
            }
            h2 {
                @include btn-text($pink);
            }
        }
    }

}
/* services section finished */

/* quote section */

.quotes {
    .carousel {        
        height: 501px; 
        .carousel-inner>.item {    
            >img{
                 max-width: none;         
            } 
            .carousel-caption {
                bottom: 100px;
                p {
                    @include text-pharagraph-bigger;
                }
                span {
                    font-family: serif;
                    font-size: 138px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: #ed145b;
                    &:first-child {
                        transform: rotateX(180deg);
                        display: block;
                        margin-bottom: -60px;
                        margin-top: 20px;
                    }
                }
            }
        }      
    }
}
/* quotes section finished*/

/* prizes section */

.prizes {
    padding-top: 120px;
    text-align: center;
    background-color: $bg-light-gray;
    .prizes-text {
        max-width: 680px;
        margin: 0 auto;
        h1 {
            @include text-heading;
        }
        p {
            @include text-pharagraph;
        }
    }
    .prizes-box {
        @include flexbox(flex, row, space-between);
        padding-top: 80px;
        padding-bottom: 80px;
        >[class*="box-"] {
            width: 262px;
            height: 466px;
            background-color: $white;
            .single-prize {
                margin: 0;
                height: 150px;
                background-color: $bg-dark-gray;
                h2 {
                    @include btn-text($white);
                    margin-top: 0;
                    padding-top: 30px;
                    span {
                        font-size: 46px;
                    }
                    
                }
            }
            .version {
                @include btn($bg-light-gray, $bg-dark-gray);
                margin-top: -25px;
            }
            >p {
                @include text-pharagraph;
                line-height: 0.8;               
            }
            .buy-now {
                @include btn($pink, $white);
                margin-top: 20px;
            }
            &:hover .single-prize {
                background-color: $pink;
            }
        }
    }
}
/* prizes section finished */

/* Additional info section */
.additional-info {
    .box-icons{
        margin-top: 80px;
        .text {
            >h2{
                @include btn-text($pink);
                margin-top: 0;
                line-height: 15px;
            }
            >p {
                @include text-pharagraph;
                padding-top: 0;
                padding-bottom: 80px;
                
            }
        }
    }

    
}
/* additional info finished */

/* join-us section */
.join-us {
    background-color: $pink;   
    .slogan {
        @include flexbox(flex, row, space-between);
        align-items: center;
        height: 200px;
        h1 {        
            font-family: $main-font, sans-serif;
            font-size: 38px;
            font-style: light;
            font-weight: 100;
            line-height: 52px;
            color: $white;
            text-transform: uppercase;
            margin: 0;
            span {
                font-weight: bold;
            }
        }
        button {
            display: block;
            @include btn($white, $pink);
        } 
    }
}
/*join-us section finished */

/* news section */
.news {
    padding-top: 120px;
    text-align: center;
    .news-text {
        max-width: 680px;
        margin: 0 auto;
        h1 {
            @include text-heading;
        }
        p {
            @include text-pharagraph;
        }
    }
    .news-updates {
        padding-top: 60px;
        .box-update {
            background-color: $bg-light-gray;
            width: 360px;            
            margin-top: 15px;
            position: relative;
            text-align: center;
            .img-effect {
                width: 360px;
                height: 250px;
                z-index: 1;
                position: absolute;
                background-color: rgba($pink, 0.7);
                transform:scale(0);
                transition-duration: 300ms;
                transform-origin: 50% 50%;
                span {
                    line-height: 250px;
                    font-size: 30px;
                }
            }
            &:hover .img-effect {
                transform: scaleY(1);
            }            
            h2 {
                @include btn-text($font-gray);
                padding-left: 20px;
                text-align: left;
            }
            p {
                @include text-pharagraph;
                padding: 0 20px 20px 20px;
                margin-bottom: 0;
                text-align: left;
            }
        }            
    }
    button {
        @include btn($white, $pink);
        margin: 50px 0;
    }
}
/* news section finished*/

/* additional-info-2 section */

.additional-info-2 {
    height: 650px;
    background-image: url(../images/header_main/header_image.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    .box-text {        
        max-width: 680px;
        text-align: center;
        margin: 0 auto;
        h1 {
            @include text-heading;
            color: $white;
        }
        p {
            @include text-pharagraph;
            color: $white;
        }
        button {
            @include btn($pink, $white);
            margin-top: 40px;
        }
    }
}
/* additional-info-2 section finished */

